<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Lista de Cadastros</title>
</head>
<body>
    <h1>Lista de Cadastros</h1>
    <ul>
        {% for person in people %}
            <li>{{person.name}} - {{person.gender}}, {{person.age}} anos. - <a href="/person/detail/{{person.id}}">detalhes</a> - <a href="/person/edit/{{person.id}}">editar</a> - <a href="/person/delete/{{person.id}}">excluir</a></li>
        {% empty %}
            <li>Nenhum cadastro encontrado!</li>
        {% endfor %}
    </ul>
</body>
</html>